:root{
    --radius : 40px;
}
.myprofile-main{    
    background-color: whitesmoke;
    border-radius: var(--radius);
    overflow: hidden;
}

.myprofile-main .row{
    align-items: center;
}

.my-main-image img{
width: 100%;
height: 300px;
object-fit: cover;
}

.myprofile-content{
    /* padding: 1rem; */
    max-width: 90%;
}

.profile-location{
    color: gray;
    font-size: 18px;
    font-weight: 400;
}

.profile-description{
    margin-top: 1rem;
    font-size: 18px;
    font-weight: 600;   
}

.profile-interest{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    list-style: none;
    gap: 10px;
}

.profile-interest li{
    background-color: #ece5e6;
    padding: 5px 15px;
    color: var(--bg);
    font-weight: 400;
    border-radius: 7px;
}

.profile-image-slide{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
}

.profile-own-images-sec , .profile-about-section{
    background-color: whitesmoke;
    padding: 2rem;
    border-radius: var(--radius);
    margin-top: 2rem;
}


.about-section p {
  margin-bottom: 0.5rem;
  font-size: 15px;
}
.about-section strong {
  font-weight: 600;
  color: #333;
}

.profile-about-section p{
    font-size: 18px;
}

