.forgot-bg {
    background-color: #f7f7fa;
    height: 50vh;
}

.forgot-card {
    width: 400px;
    border-radius: 10px;
}

.forgot-header {
    background-color: #e91e63;
    color: white;
    border-radius: 10px 10px 0 0;
}
