.profile-tabs-section .list-group-item.active {
    background-color: transparent;
    border: none;
    color: var(--bg);
    /* font-weight: 600; */
}

.profile-tabs-section .list-group-item {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.801);
    font-weight: 600;
    font-size: 18px;
}

.list-group {
    background: transparent !important;
}





